body {
    background: linear-gradient(to right, #7c450d, #2a5298);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .h1 {
    margin: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .btn {
    margin: 10px;
    padding: 0;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    color: white;
  }

  .button-container {
    display: flex;
    gap: 46px;
  }

  .btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    transform: scale(1.12);
    cursor: pointer;
  }

  .btn img {
    width: 60px;
    height: 60px;
    /* object-fit: cover; */
    border-radius: 50%;
  }

  p {
    font-size: 18px;
    margin-top: 10px;
  }

  .reset-btn,.autoplay-btn {
    /* margin-top: 20px; */
    /* padding: 5px 15px; */
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .js-result-image{
    margin: 10px;
    padding: 0;
    background-color: transparent;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .js-move{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .resetAndAuto{
    display: flex;
    justify-content: center;
    align-items: center;
  }